*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#parent-flex{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;  /*cross-axis*/
    justify-content: space-around;  /*main-axis*/
    flex-direction: row;
    flex-wrap: wrap;
}

#child-flex1{
    width: 200px;
    height: 200px;
    background-color: lightpink;
    border: 2px solid crimson;
    /* flex-shrink: 0; */
}
#child-flex2{
    width: 200px;
    height: 200px;
    background-color: beige;
    border: 2px solid crimson;
    /* flex-shrink: 0; */
}
#child-flex3{
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    border: 2px solid crimson;
    /* flex-shrink: 0; */
}

#child-flex4{
    width: 200px;
    height: 200px;
    background-color: gold;
    border: 2px solid crimson;
    /* flex-shrink: 0; */
}

nav{
    width: 100%;
    height: 60px;
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
