*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

h1{
    font-size: 30px;
}

#parent{
    width: 100px;
    height: 100px;
    background-color: aqua;
    /* overflow: hidden; */
}

#child{
    width: 50%;
    height: 50%;
    background-color: crimson;
}

#box-vh{ 
    height: 10vh;
    width: 10vh;
    background-color: rebeccapurple;
}

#box-vw{
    height: 30vw;
    width: 30vw;
    background-color: rgb(223, 3, 230);
}

#box-vhvw{
    height: 20vh;
    width: 20vw;
    background-color: darkgoldenrod;
}

#box-vmax{
    height: 30vmax;
    width: 30vmax;
    background-color: brown;
    font-size: 3vmax;

    display: flex;
    align-items: center;
    justify-content: center;
}

#box-vmin{
    height: 30vmin;
    width: 30vmin;
    background-color: rgb(39, 56, 154);
    font-size: 3vmin;

    display: flex;
    align-items: center;
    justify-content: center;
}


#parent2{
    height: 300px;
    width: 500px;
    background-color: darksalmon;
    font-size: 20px;
}

h1{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
}

h4{
    font-size: 1em;
}

#rem{
    font-size: 2rem;
}


#ch{
    width: 10ch;
    color: aqua;
}

#lh{
    margin-top: 2lh;
    color: bisque;
}